body {
    background-color: #a1a1a1;
    font-family: 'Alef', sans-serif;
    text-align: center;
    margin: 0 auto;
}

nav {
    background-color: #0a1026;
    width: inherit;
    max-height: 30px;
    margin: 0 auto;
    color: white;
    font-size: 1.2vw;
    font-family: 'Alef', sans-serif;
}

nav a {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-toggle {
    background-color: white;
}

.page {
    width: 75%;
    margin: 0 auto;
}

.container-box {
    position: relative;
    display: inline-block;
}

.text-box {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}

.text-box:before {
    content: '';
    display: inline-block;
    height: 90%;
    vertical-align: bottom;
    /*margin-top: 100px;*/
}

h4 {
    display: inline-block;
    font-size: 1.5vw;
    color: #FFF;
    text-decoration: underline;
}

img.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
