<nav class="navbar navbar-fixed-top">
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only"> Toggle navigation</span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"> </span>
      </button>
            <div class="navbar-collapse collapse" style="margin-left: 100px">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#">THE GAME</a> </li>
                    <li> <a href="#how">HOW TO PLAY</a> </li>
                    <li> <a href="#special">SPECIAL CARDS</a> </li>
                    <li> <a href="#kickstarter">KICKSTARTER</a> </li>
                </ul>
                <!--nav navbar-nav-->
                <ul class="nav navbar-nav navbar-right" style="margin-right: 15px">
                    <li> {% include 'slack.html' %} </li>
                </ul>
            </div>
            <!--navbar-collapse collapse-->
        </div>
        <!--col-sm-12-->
    </div>
    <!--row-->
</nav>
