<nav class="navbar navbar-fixed-top">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only"> Toggle navigation</span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
        </button>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">THE GAME</a> </li>
            <li> <a href="#how">HOW TO PLAY</a> </li>
            <li> <a href="#special">SPECIAL CARDS</a> </li>
            <li> <a href="#kickstarter">KICKSTARTER</a> </li>
            <li class="navbar-right"><a href="/signin">SLACK</a> </li>
          </ul> <!--nav navbar-nav-->
        </div> <!--navbar-collapse collapse-->
    </div> <!--col-sm-12-->
  </div> <!--row-->
</nav>
