<!doctype html>
<html>
<head>
  <title>The Game of Drumpf!</title>

  <!-- Active Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alef:700" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

  <!-- External style sheets -->
  <link rel="stylesheet" href="/static/css/index.css" type="text/css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="page container">
    <nav class="navbar navbar-fixed-top">
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only"> Toggle navigation</span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
            </button>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class=""><a href="#">THE GAME</a> </li>
                <li> <a href="#how">HOW TO PLAY</a> </li>
                <li> <a href="#special">SPECIAL CARDS</a> </li>
                <li> <a href="#kickstarter">KICKSTARTER</a> </li>
                <li class="navbar-right"><a href="/signin">SLACK</a> </li>
              </ul> <!--nav navbar-nav-->
            </div> <!--navbar-collapse collapse-->
        </div> <!--col-sm-12-->
      </div> <!--row-->
    </nav>

    <section>
    <div class="row banner">
      <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px; margin-top:50px">
        <img src="/static/img/banner.PNG" class="img-responsive">
      </div>
    </div>
    </section>
    <section id="kickstarter">
    <div class="row">
      <div class="col-md-12 container-box" style="padding-left: 0px;  padding-right: 0px;">
        <div class="text-box">
          <a href="#"><h4>KICKSTARTER</h4></a>
        </div>
        <img class="img-responsive" src="/static/img/kickstarter.PNG" >
      </div>
    </div>
    </section>
    <section id="how">
    <div class="row setup">
      <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
        <img src="/static/img/set-upA.PNG" class="img-responsive">
      </div>
    </div>
    </section>
    <section>
    <div class="row setup">
      <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
        <img src="/static/img/set-upB.PNG" class="img-responsive">
      </div>
    </div>
    </section>
    <section>
    <div class="row special">
      <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
        <img src="/static/img/special.PNG" class="img-responsive">
      </div>
    </div>
    </section>
    <section id="special">
    <div class="row special-cards">
      <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
        <img src="/static/img/specialcards.PNG" class="img-responsive">
      </div>
    </div>
    </section>
    <section>
    <div class="row footer">
      <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
        <img src="/static/img/footer.PNG" class="img-responsive">
      </div>
    </div>
    </section>
  </div> <!--page container-->
</body>

</html>
